<!DOCTYPE html>
<html lang="en">
<head>
	<title>登录</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
	<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="https://cdn.bootcss.com/vue-resource/1.4.0/vue-resource.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.5.10/vue.min.js"></script>
</head>
<body>

<div id="chatroom">
	账号： {{ username }} <br/>

	接收消息：<br/>

	<div v-html="msg"/>

</div>

<script>
	var stompClient;

	let vue = new Vue({
		el: '#chatroom',
		data: {
			username: '',
			msg: ''
		},
		methods: {
			connect() {
				console.log("connect....");
				let socket = new SockJS('/endpoint');
				stompClient = Stomp.over(socket);
				let _this = this;
				stompClient.connect({}, function (frame) {
					console.log("connected: " + frame);
					stompClient.subscribe('/topic/response', function (response) {
						console.log("rcv " + response.body);
						_this.msg = response.body + "<br />" + _this.msg;
					});
					_this.sendName();
				})
			},
			disconnect() {
				if (stompClient !== null) {
					stompClient.disconnect();
				}
				console.log("disconnected");
			},
			sendName() {
				console.log(this.username + " to ben sent");
				stompClient.send("/welcome", {}, this.username);
			}
		},
		mounted() {
			console.log("mounted");
			this.connect()
		}
	})

	vue.username = sessionStorage.getItem("username");
</script>
</body>
</html>